root = true

[*]

# Tabs, not spaces
indent_style = tab

# Quote style & max length
quote_type = single
max_line_length = 100

# Ensure consistency
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false