[submodule "apps/electron"]
	path = apps/electron
	url = https://github.com/wcpos/electron
[submodule "packages/components"]
	path = packages/components
	url = https://github.com/wcpos/components
[submodule "packages/database"]
	path = packages/database
	url = https://github.com/wcpos/database
[submodule "packages/hooks"]
	path = packages/hooks
	url = https://github.com/wcpos/hooks
[submodule "packages/themes"]
	path = packages/themes
	url = https://github.com/wcpos/themes
[submodule "packages/form"]
	path = packages/form
	url = https://github.com/wcpos/react-native-jsonschema-form
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/wcpos/core
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/wcpos/utils
[submodule "apps/managed"]
	path = apps/managed
	url = https://github.com/wcpos/managed-expo
[submodule "apps/with-flipper"]
	path = apps/with-flipper
	url = https://github.com/wcpos/app-with-flipper
[submodule "packages/rjsf-native"]
	path = packages/rjsf-native
	url = https://github.com/wcpos/rjsf-native
