@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210.66 39.5% 23.3%;
    --card: 0 0% 100%;
    --card-foreground: 210.66 39.5% 23.3%;
    --popover: 0 0% 100%;
    --popover-foreground: 210.66 39.5% 23.3%;
    --primary: 202.36 82.8% 41%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 21.6% 49%;
    --secondary-foreground: 210 40% 98%;;
    --tertiary: 29 89% 54%;
    --tertiary-foreground: 210 40% 98%;
    --muted: 210 40% 96%;
    --muted-foreground: 209 28% 39%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 356 75% 53%;
    --destructive-foreground: 210 40% 98%;
    --success: 166 72% 28%;
    --success-foreground: 210 40% 98%;
    --info: 207 90% 54%;
    --info-foreground: 210 40% 98%;
    --attention: 50 100% 80%;
    --attention-foreground: 210.66 39.5% 23.3%;
    --warning: 20, 80%, 55%; 
    --warning-foreground: 210.66 39.5% 23.3%;
    --error: 356 75% 53%;
    --error-foreground: 210 40% 98%;
    --border: 212 33% 89%;
    --input: 214.3 31.8% 91.4%;
    --ring: 202.36 82.8% 41%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210.66 39.5% 23.3%;
    --foreground: 210 40% 98%;
    --card: 210.66 39.5% 23.3%;
    --card-foreground: 210 40% 98%;
    --popover: 210.66 39.5% 23.3%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --tertiary: 29 89% 30%;
    --tertiary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 120 60% 30%;
    --success-foreground: 210 40% 98%;
    --info: 207 90% 30%;
    --info-foreground: 210 40% 98%;
    --attention: 50 100% 50%;
    --attention-foreground: 210 40% 98%;
    --warning: 25 100% 40%;
    --warning-foreground: 210 40% 98%;
    --error: 0 62.8% 30.6%;
    --error-foreground: 210 40% 98%;
    --border: 212 33% 89%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
}
